arize-phoenix-otel
openinference-instrumentation-pydantic-ai 
pydantic-ai-slim[google,tavily] 
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-api
langchain
langgraph
langchain-google-genai
langchain-tavily
tavily-python
jupyterlab
python-dotenv
rich